[submodule "submodules/vrpn"]
	path = submodules/vrpn
	url = https://github.com/rpavlik/vrpn.git
[submodule "submodules/osg"]
	path = submodules/osg
	url = https://github.com/carlsonp/osg.git
[submodule "submodules/vr-jugglua"]
	path = submodules/vr-jugglua
	url = https://github.com/vancegroup/vr-jugglua.git
[submodule "submodules/vrjuggler"]
	path = submodules/vrjuggler
	url = https://github.com/rpavlik/vrjuggler.git
[submodule "submodules/cmake"]
	path = submodules/cmake
	url = http://cmake.org/cmake.git
[submodule "submodules/cppdom"]
	path = submodules/cppdom
	url = https://github.com/rpavlik/cppdom.git
[submodule "submodules/gmtl"]
	path = submodules/gmtl
	url = https://github.com/rpavlik/gmtl.git
