[submodule "submodules/qt"]
	path = submodules/qt
	url = git://gitorious.org/qt/qt.git
[submodule "submodules/vrpn"]
	path = submodules/vrpn
	url = https://github.com/rpavlik/vrpn.git
[submodule "submodules/luabind"]
	path = submodules/luabind
	url = https://github.com/rpavlik/luabind.git
[submodule "submodules/osg"]
	path = submodules/osg
	url = https://github.com/rpavlik/osg.git
[submodule "submodules/vr-jugglua"]
	path = submodules/vr-jugglua
	url = git@github.com:vancegroup/vr-jugglua.git
[submodule "submodules/vrjuggler"]
	path = submodules/vrjuggler
	url = https://github.com/rpavlik/vrjuggler.git
[submodule "submodules/cmake"]
	path = submodules/cmake
	url = http://cmake.org/cmake.git
[submodule "submodules/cppdom"]
	path = submodules/cppdom
	url = https://github.com/rpavlik/cppdom.git
[submodule "submodules/wiiuse"]
	path = submodules/wiiuse
	url = https://github.com/rpavlik/wiiuse.git
[submodule "submodules/vrpn-wiimote-gui"]
	path = submodules/vrpn-wiimote-gui
	url = https://github.com/rpavlik/vrpn-wiimote-gui.git
